# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
ENV/
env/
.venv/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log

# Tests
.pytest_cache/
.coverage
htmlcov/

# Build
dist/
build/
*.egg-info/

# No ignorar .env para Docker (necesitamos las variables)
# .env
